#profile-intro {
    text-align: left; 
    padding-left: 40px; 
    padding-top: 30vh;
}

#profile-description {
    text-align: left; 
    padding-bottom: 0px; 
    padding-left: 95px;
}

.profile-wrapper {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
}

.profile-pic {
    display: block;
    justify-self: center;
    width: 65vh;
    height: 65vh;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#container-center {
    justify-content: center; 
    align-items: center;
}

.heading.mission-statement {
    margin-top: 12vh;
}

.heading.specialties {
    margin-top: 10vh;
}

.heading.project-heading {
    align-self: center;
    margin-top: 5vh;
    grid-column: span 5;
}

#padding-top-10 {
    padding-top: 10px;
}

#header-column {
    padding-left: 40px;
}

#video-100 {
    width: 100%;
}

#row-100 {
    width: 100%;
}

/* Floating banner */
#about-me-decor {
    background-color: #F8E4C4;    
    align-items: center; 
    justify-content: center; 
    align-self: left;
    justify-self: left;
    height: 55%;
    width: 98%;
    margin-top: 10vh;
    margin-bottom: 20vh;
    margin-right: 30vh;
    position: absolute;
    z-index: -5;
}

/* Background for projects */
#project-decor {
    background-color: #F8E4C4;
    justify-self: center;
    height: 100%;
    width: 99%;
    margin-top: 14vh;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-right: 0;
}


/* MEDIA QUERIES */


/* SMARTPHONES

@media screen and (max-width: 767px) and (orientation: portrait) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 17vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5px;
        font-size: 14pt;
    }

    .profile-pic {
        justify-self: center;
        width: 35vh;
        height: 35vh;
        margin: 0;
    }

    .heading.project-heading {
        grid-column: span 12;
    }

    .heading.mission-statement {
        margin-top: 8vh;
        padding: 0px 30px;
    }

    .body.specialties-body {
        padding: 0px 30px;
    }

    #about-me-decor {
        width: 100%;
        height: 52%;
    }

    #project-decor {
        margin-top: 10vh;
    }
  }

@media screen and (max-height: 767px) and (orientation: landscape) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 24vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 18pt;
    }

    .profile-pic {
        width: 60vh;
        height: 60vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        width: 100%;
        height: 60%;
    }

    .heading.project-heading {
        grid-column: span 12;
    }

    .heading.mission-statement {
        padding: 0px 30px;
    }
  }


/* SMALL TABLETS  */

@media screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 8vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 14pt;
    }

    /* .profile-wrapper {
        margin-top: 20px;
    } */

    .profile-pic {
        width: 36vh;
        height: 36vh;
    }

    .heading.project-heading {
        grid-column: span 12;
    }

    .heading.mission-statement {
        margin-top: 6vh;
    }

    .heading.mission-statement, .heading.specialties, .body.specialties-body {
        padding: 0em 2em;
    }

    #about-me-decor {
        width: 100%;
        margin-top: 5vh;
        height: 45%;
    }

    #project-decor {
        margin-top: 8vh;
    }
}

@media screen and (min-height: 768px) and (max-height: 991px) and (orientation: landscape) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: left;
        padding-left: 40px;
        padding-top: 24vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: left;
        padding: 20px 85px;
        font-size: 18pt;
    }

    /* .profile-wrapper {
        margin-top: 8vh;
    } */

    .profile-pic {
        width: 60vh;
        height: 60vh;
        margin-bottom: 20px;
    }

    .heading.project-heading {
        grid-column: span 12;
    }

    .heading.mission-statement {
        margin-top: 10vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        margin-top: 11vh;
        height: 45%;
        width: 100%;
    }

    #project-decor {
        margin-top: 18vh;
    }
}

/* SMALL SCREENS AND LAPTOPS */

@media screen and (min-width: 992px) and (max-width: 1200px) and (orientation: portrait) {
    #profile-intro {
        text-align: left;
        padding-left: 0;
        padding-top: 17vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: left;
        padding: 5px 20px;
        font-size: 14pt;
    }

    /* .profile-wrapper {
        margin-top: 6vh;
    } */

    .profile-pic {
        width: 35vh;
        height: 35vh;
    }

    .heading.mission-statement {
        margin-top: 6vh;
    }

    .heading.mission-statement, .heading.specialties, .body.specialties-body {
        padding: 0em 2em;
    }

    #about-me-decor {
        margin-top: 6vh;
        width: 100%;
        height: 30%;
    }

    #project-decor {
        margin-top: 8vh;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) and (orientation: landscape) {
    #profile-intro {
        text-align: left;
        padding-left: 30px;
        padding-top: 33vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: left;
        padding: 5px 73px;
        font-size: 18pt;
    }

    /* .profile-wrapper {
        margin-top: 6vh;
    } */

    .profile-pic {
        margin-top: 35px;
        width: 65vh;
        height: 65vh;
    }

    .heading.mission-statement {
        margin-top: 13vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        margin-top: 14vh;
        width: 100%;
        height: 55%;
    }
} */
  