#profile-intro {
    text-align: left; 
    padding-left: 40px; 
    padding-top: 37vh;
}

#profile-description {
    text-align: left; 
    padding-bottom: 0px; 
    padding-left: 95px;
}

.profile-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110%;
}

.profile-pic {
    display: block;
    justify-self: center;
    width: 80vh;
    height: 80vh;
    border-radius: 50%;
    object-fit: cover;
    margin: 20px;
}

#container-center {
    justify-content: center; 
    align-items: center;
}

.heading.mission-statement {
    margin-top: 4vh;
}

.heading.specialties {
    margin-top: 10vh;
}

.heading.project-heading {
    margin-top: 5vh;
}

#padding-top-10 {
    padding-top: 10px;
}

#header-column {
    padding-left: 40px;
}

#video-100 {
    width: 100%;
}

#row-100 {
    width: 100%;
}

.project-title {
    text-align: left;
    font-size: 16pt;
    padding-bottom: 0;
    padding-top: 15pt;
    padding-left: 10pt;
    margin: 0;
}

.project-subtitle {
    text-align: left;
    font-size: 12pt;
    padding-bottom: 0;
    padding-left: 10pt;
}

/* Floating banner */
#about-me-decor {
    background-color: #F8E4C4;    
    align-items: center; 
    justify-content: center; 
    align-self: left;
    justify-self: left;
    height: 60%;
    width: 98%;
    margin-top: 15vh;
    margin-bottom: 20vh;
    margin-right: 30vh;
    position: absolute;
    z-index: -5;
}

/* Background for projects */
#project-decor {
    background-color: #F8E4C4;
    justify-self: center;
    height: 100%;
    width: 99%;
    margin-top: 15vh;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-right: 0;
}


/* MEDIA QUERIES */


/* SMARTPHONES */

@media screen and (max-width: 767px) and (orientation: portrait) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 19.5vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 14pt;
    }

    .profile-wrapper {
        margin-top: 2vh;
    }

    .profile-pic {
        justify-self: center;
        width: 35vh;
        height: 35vh;
        margin: 0;
    }

    .heading.mission-statement {
        margin-top: 10vh;
        padding: 0px 30px;
    }

    .body.specialties-body {
        padding: 0px 30px;
    }

    #about-me-decor {
        width: 100%;
    }

    #project-decor {
        margin-top: 8vh;
    }
  }

@media screen and (max-height: 767px) and (max-width: 767px) and (orientation: landscape) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 24vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 18pt;
    }

    .profile-wrapper {
        margin-top: 20px;
    }

    .profile-pic {
        width: 70vh;
        height: 70vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        width: 100%;
        height: 100%;
    }
  }


/* SMALL TABLETS  */

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 10vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 14pt;
    }

    .profile-wrapper {
        margin-top: 20px;
    }

    .profile-pic {
        width: 40vh;
        height: 40vh;
    }

    .heading.mission-statement {
        margin-top: 10vh;
    }

    .heading.mission-statement, .heading.specialties, .body.specialties-body {
        padding: 0em 2em;
    }

    #about-me-decor {
        width: 100%;
        margin-top: 5vh;
    }

    #project-decor {
        margin-top: 8vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #header-column {
        padding-left: 0px;
    }

    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 24vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 18pt;
    }

    .profile-wrapper {
        margin-top: 8vh;
    }

    .profile-pic {
        width: 50vh;
        height: 50vh;
        margin: 20px;
    }

    .heading.mission-statement {
        margin-top: 8vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        margin-top: 11vh;
        height: 42%;
        width: 100%;
    }
}

/* SMALL SCREENS AND LAPTOPS */

@media screen and (min-width: 1025px) and (max-width: 1200) and (orientation: portrait) {
    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 22vh;
        font-size: 21pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 14pt;
    }

    .profile-wrapper {
        margin-top: 20px;
    }

    .profile-pic {
        width: 40vh;
        height: 40vh;
    }

    .heading.mission-statement, .heading.specialties, .body.specialties-body {
        padding: 0em 2em;
    }

    #about-me-decor {
        width: 100%;
    }

    #project-decor {
        margin-top: 10vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) and (orientation: landscape) {
    #profile-intro {
        text-align: center;
        padding-left: 0;
        padding-top: 24vh;
        font-size: 24pt;
    }

    #profile-description {
        text-align: center;
        padding: 5px 20px;
        font-size: 18pt;
    }

    .profile-wrapper {
        margin-top: 20px;
    }

    .profile-pic {
        width: 35vh;
        height: 35vh;
    }

    .project-title {
        font-size: 14pt;
    }

    #about-me-decor {
        width: 100%;
        height: 80%;
    }
}
  