.hero-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 0.5fr);
    place-items: center;
}

/* Floating banner */
#about-me-decor {
    background-color: #F8E4C4;    
    height: 100%;
    width: 100%;
    grid-column: 1 / 13;
    grid-row: 2 / 10;
    z-index: -5;
}

#about-me-content {
    grid-column: 2 / span 4;
    grid-row: 5 / 7;
}

.profile-pic {
    grid-column: 7 / 12;
    grid-row: 2 / 10;
    aspect-ratio: 1 / 1;
    width: 110%;
    height: 110%;
    object-fit: cover;
    border-radius: 35%;
}

#container-center {
    justify-content: center; 
    align-items: center;
}

.heading.mission-statement {
    margin-top: 16vh;
}

.heading.specialties {
    margin-top: 10vh;
}

.heading.project-heading {
    align-self: center;
    margin-top: 5vh;
    grid-column: span 5;
}

#padding-top-10 {
    padding-top: 10px;
}

#header-column {
    padding-left: 40px;
}

#video-100 {
    width: 100%;
}

#row-100 {
    width: 100%;
}

/* Background for projects */
#project-decor {
    background-color: #F8E4C4;
    justify-self: center;
    height: 100%;
    width: 99%;
    margin-top: 14vh;
    padding-bottom: 15px;
    margin-bottom: 0;
    margin-right: 0;
}


/* MEDIA QUERIES */


/* TABLETS */
@media (max-width: 870px) {
    #header-column {
        padding-left: 0px;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(5, 0.5fr);
        place-items: center;
    }

    /* Floating banner */
    #about-me-decor {
        background-color: #F8E4C4;    
        height: 95%;
        width: 100%;
        grid-column: 1 / 13;
        grid-row: 2 / 6;
        z-index: -5;
    }

    #about-me-content {
        text-align: left;
        grid-column: 2 / 6;
        grid-row: 3 / 5;
        font-size: 21pt;
    }

    #profile-description {
        font-size: 14pt;
    }

    .profile-pic {
        justify-self: center;
        grid-column: 7 / 12;
        grid-row: 2 / 6;
        margin: 0;
    }

    .heading.project-heading {
        grid-column: span 12;
    }

    .heading.mission-statement {
        font-size: 14pt;
        margin-top: 80px;
        padding: 0px 30px;
    }

    .heading.specialties {
        font-size: 14pt;
        margin-top: 60px;
        padding: 0px 30px;
    }

    .body.specialties-body {
        font-size: 12pt;
        padding: 0px 30px;
    }

    #project-decor {
        margin-top: 80px;
    }
}

/* SMARTPHONES */

@media (max-width: 420px) {
    .profile-pic {
        margin-top: 10px;
    }
}

/* only for hero grid */
@media (max-width: 700px) {
    .hero-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(6, 0.5fr);
        place-items: center;
    }

    #about-me-decor {
        background-color: #F8E4C4;    
        height: 100%;
        width: 100%;
        grid-column: 1 / 7;
        grid-row: 2 / 6;
        z-index: -5;
    }

    #about-me-content {
        grid-column: 2 / 6;
        grid-row: 2 / 4;
        z-index: 0;
        text-align: center;
    }

    .profile-pic {
        grid-column: 2 / 6;
        grid-row: 4 / 7;
    }
}