body {
    margin: 0;
    margin-bottom: 10rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300 px, 1 fr));

}

.img-wrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.img-wrapper > img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img-wrapper > .content {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    color: #000000;
    background: rgba(189, 202, 220, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-wrapper > img,
.img-wrapper > .content {
    transition: 200 ms ease-in-out;
}

.img-wrapper:hover > img.blur {
    filter: blur(5px);
}

.img-wrapper > .content.fade {
    opacity: 0;
}
.img-wrapper:hover > .content.fade {
    opacity: 1;
}

.video {
    display: block;
    margin: auto;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.video-wrapper {
    position: relative;
    overflow: hidden;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
}

.video-wrapper > video {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.video-wrapper > .vidcontent {
    position: absolute;
    inset: 0;
    font-size: 2rem;
    color: #000000;
    background: rgba(189, 202, 220, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.video-wrapper > video,
.video-wrapper > .vidcontent {
    transition: 200 ms ease-in-out;
}

.video-wrapper:hover > video.blur {
    filter: blur(5px);
}

.video-wrapper > .vidcontent.fade {
    opacity: 0;
}
.video-wrapper:hover > .vidcontent.fade {
    opacity: 1;
}

/**
.carousel-dark .carousel-control-prev-icon {
  background-image: url("xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' fill='%23000' d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z");
}

.carousel-dark .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fa3de3' %3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
    margin-left: -7%;
    margin-right: -7%;
}
*/